:root {
    --main-color          : #4C84FF;
    --primary-bg-color    : #fff;
    --secondary-bg-color  : #eee;
    --primary-text-color  : #222;
    --secondary-text-color: #666;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
    font-family    : 'Roboto', sans-serif;
    margin         : 0;
    padding        : 0;
    box-sizing     : border-box;
    text-transform : capitalize;
    outline        : none;
    border         : none;
    text-decoration: none;
    transition     : all .3s cubic-bezier(.38, 1.15, .7, 1.12);
}

*::selection {
    background-color: var(--main-color);
    color           : #fff;
}

html {
    font-size : 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 0rem;
}

html::-webkit-scrollbar-track {
    background-color: var(--secondary-bg-color);
}

html::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

body {
    background: var(--secondary-bg-color);
}

body.dark-theme {
    --primary-bg-color    : #252C48;
    --secondary-bg-color  : #171C32;
    --primary-text-color  : #fff;
    --secondary-text-color: #eee;
}

section {
    min-height: 100vh;
    padding   : 1rem;
    padding   : 0 6%;
}

.btn {
    display      : inline-block;
    padding      : .9rem 3.5rem;
    font-size    : 2rem;
    background   : none;
    color        : #fff;
    border-radius: .5rem;
    box-shadow   : 0 .5rem 1rem rgba(0, 0, 0, .1);
    margin-top   : 1rem;
    z-index      : 0;
    position     : relative;
    overflow     : hidden;
    border       : .2rem solid var(--main-color);
}

.btn::before {
    content      : '';
    position     : absolute;
    top          : 50%;
    left         : 50%;
    transform    : translate(-50%, -50%);
    border-radius: .5rem;
    background   : var(--main-color);
    height       : 85%;
    width        : 95%;
    z-index      : -1;
    transition   : .2s linear;
}

.btn:hover:before {
    top      : 100%;
    transform: translate(-50%, 100%);
}

.btn:hover {
    color: var(--primary-text-color);
}


.heading {
    font-size     : 5rem;
    color         : var(--primary-text-color);
    text-align    : center;
    padding       : 1rem;
    text-transform: uppercase;
}

.heading span {
    color         : var(--main-color);
    text-transform: uppercase;
}

.header {
    position       : fixed;
    top            : 0;
    left           : 0;
    width          : 100%;
    height         : 4.8rem;
    z-index        : 1000;
    background     : rgb(226, 226, 243);
    padding        : 0 100px;
    box-sizing     : border-box;
    box-shadow     : var(--main-color);
    display        : flex;
    justify-content: space-between;
}

.logo {
    display      : flex;
    z-index      : 999;
    font-size    : 2rem;
    padding-right: 1rem;
    color        : var(--main-color);
    align-items  : center;
    font-weight  : 800;
}

.navbar {
    display    : flex;
    align-items: center;
    z-index    : 999;

}

.navbar a {
    font-size   : 1.8rem;
    padding-left: 6rem;
    color       : var(--primary-text-color);
}

.navbar a:hover {
    color    : var(--main-color);
    transform: translateX(1rem);
}

.home {
    display  : flex;
    height   : 100vh;
    flex-wrap: wrap;
}

.home .social {
    flex          : 0.2;
    display       : flex;
    flex-direction: column;
    margin        : auto;
}

.home .social a {
    padding: 1.2em;
}

.home .social i {
    font-size: 2.2em;
    color    : var(--main-color);
}

.home .content {
    flex       : 1.4;
    padding    : 1rem;
    align-items: center;
    margin     : auto;
}

.home .content .hello {
    display  : inline-block;
    padding  : 1rem 0;
    font-size: 2.6rem;
    color    : var(--secondary-text-color);
}

.home .content h3 {
    color    : var(--primary-text-color);
    font-size: 5rem;
}

.home .content h3 span {
    color: var(--main-color);
}

.home .content p {
    padding  : 1rem 0;
    color    : var(--secondary-text-color);
    font-size: 2rem;
}

.i-title {
    height  : 50px;
    overflow: hidden;
}

.i-title-wrapper {
    height   : 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    25% {
        transform: translateY(-50px);
    }

    50% {
        transform: translateY(-100px);
    }

    75% {
        transform: translateY(-150px);
    }

    100% {
        transform: translateY(-200px);
    }
}

.i-title-item {
    height     : 50px;
    font-size  : 30px;
    font-weight: bold;
    color      : #59b256;
    display    : flex;
    align-items: center;
}


.home .image {
    flex    : 1;
    position: relative;

}

.home .cover-img {
    /* clip-path : polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 52%, 0% 0%); */
    clip-path : polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background: var(--main-color);
    width     : 100%;
    height    : 100%;
    position  : absolute;
    top       : 0;
    right     : 0;
}

.home .img {
    width     : 100%;
    height    : 100%;
    object-fit: cover;
    position  : absolute;
}


.about {
    height     : 100vh;
    display    : flex;
    align-items: center;
}

.about-left {
    flex           : 1;
    display        : flex;
    align-items    : center;
    justify-content: center;
    position       : relative;
    height         : 100%;
}

.about-right {
    flex: 1;
}

.about-card.bg {
    position        : absolute;
    top             : 50px;
    left            : 50px;
    background-color: var(--main-color);
}

.about-card {
    width        : 60%;
    height       : 70vh;
    border-radius: 30px;
    position     : relative;
    overflow     : hidden;
}

.about-img {
    width     : 100%;
    height    : 100%;
    object-fit: cover;
}

.about-award-img {
    width        : 120px;
    height       : 120px;
    border-radius: 20px;
}

.about-title {
    font-weight: 400;
    font-size  : 3rem;
}

.about-sub {
    margin   : 20px 0px;
    font-size: 2rem;

}

.about-desc {
    font-size  : 1.4rem;
    font-weight: 300;
}


@media screen and (max-width:480px) {
    .about {
        flex-direction: column;
        text-align    : center;
        margin-top    : 50px;
    }

    .about-left {
        width: 100%;
    }

    .about-card {
        height: 30vh;
    }

    .about-card.bg,


    .about-right {
        padding: 20px;
    }
}








/* .about .row {
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-wrap      : wrap;
}

.about .row .box {
    flex            : 1 1 40rem;
    background-color: var(--primary-bg-color);
    border-radius   : .5rem;
    box-shadow      : 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding         : .5rem 1.5rem;
    margin          : 1.5rem;
}

.about .row .box .title {
    color    : var(--primary-text-color);
    font-size: 2.5rem;
    padding  : 1rem 0;
}

.about .row .box .progress {
    padding: 1rem 0;
}

.about .row .box .progress h3 {
    font-size      : 1.7rem;
    color          : var(--secondary-text-color);
    display        : flex;
    justify-content: space-between;
}

.about .row .box .progress .bar {
    height       : 2.5rem;
    border-radius: .5rem;
    border       : .2rem solid var(--main-color);
    padding      : .5rem;
    margin       : 1rem 0;
}

.about .row .box .progress .bar span {
    height          : 100%;
    border-radius   : .3rem;
    background-color: var(--main-color);
    display         : block;
}

.about .row .box:nth-child(1) .progress:nth-child(2) .bar span {
    width: 95%;
}

.about .row .box:nth-child(1) .progress:nth-child(3) .bar span {
    width: 80%;
}

.about .row .box:nth-child(1) .progress:nth-child(4) .bar span {
    width: 65%;
}

.about .row .box:nth-child(1) .progress:nth-child(5) .bar span {
    width: 75%;
}

.about .row .box:nth-child(2) .progress:nth-child(2) .bar span {
    width: 98%;
}

.about .row .box:nth-child(2) .progress:nth-child(3) .bar span {
    width: 67%;
}

.about .row .box:nth-child(2) .progress:nth-child(4) .bar span {
    width: 75%;
}

.about .row .box:nth-child(2) .progress:nth-child(5) .bar span {
    width: 60%;
}

.about .row .box .exp-box {
    padding      : 0 1.8rem;
    margin-top   : 1rem;
    margin-bottom: 2rem;
    border-left  : .2rem solid var(--main-color);
    position     : relative;
}

.about .row .box .exp-box h3 {
    color    : var(--main-color);
    font-size: 2rem;
}

.about .row .box .exp-box p {
    color    : var(--secondary-text-color);
    font-size: 1.5rem;
    padding  : 1rem 0;
}

.about .row .box .exp-box::before {
    content      : '';
    position     : absolute;
    top          : 0;
    left         : -1rem;
    border-radius: 50%;
    height       : 2rem;
    width        : 2rem;
    background   : var(--main-color);
}*/

.about .download {
    background    : var(--primary-bg-color);
    border-radius : .5rem;
    text-align    : center;
    box-shadow    : 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding       : 2rem;
    padding-bottom: 3rem;
    margin        : 1rem;
}

.services .box-container {
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-wrap      : wrap;
}

.services .box-container .box {
    background   : var(--primary-bg-color);
    border-radius: .5rem;
    box-shadow   : 0 .5rem 1rem rgba(0, 0, 0, .1);
    margin       : 1rem;
    padding      : 1rem;
    width        : 35rem;
    text-align   : center;
    position     : relative;
    z-index      : 0;
}

.services .box-container .box .number {
    position : absolute;
    top      : 1.5rem;
    left     : 2rem;
    font-size: 2.5rem;
    color    : var(--primary-text-color);
}

.services .box-container .box img {
    height: 7rem;
    width : 7rem;
    margin: 1rem;
}

.services .box-container .box h3 {
    font-size: 2rem;
    color    : var(--main-color);
}

.services .box-container .box p {
    font-size: 1.5rem;
    color    : var(--secondary-text-color);
    padding  : 1rem;
}

.services .box-container .box::before {
    content   : '';
    position  : absolute;
    top       : 0;
    left      : 0;
    height    : 100%;
    width     : 100%;
    background: var(--main-color);
    z-index   : -1;
    clip-path : circle(25% at 0 0);
    opacity   : .1;
    transition: .3s;
}

.services .box-container .box:hover::before {
    clip-path: circle(100%);
}

.portfolio .button-container {
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-wrap      : wrap;
    padding        : 1rem 0;
}

.portfolio .button-container .btn {
    margin: 1rem;
    cursor: pointer;
}

.portfolio .image-container {
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-wrap      : wrap;
    padding        : 1rem 0;
}

.portfolio .image-container .box {
    width        : 35rem;
    margin       : 1rem;
    border-radius: .5rem;
    box-shadow   : 0 .5rem 1rem rgba(0, 0, 0, .1);
    overflow     : hidden;
    height       : 25rem;
    position     : relative;
    border       : 1.5rem solid var(--primary-bg-color);
    cursor       : pointer;
}

.portfolio .image-container .box img {
    height    : 100%;
    width     : 100%;
    object-fit: cover;
}

.portfolio .image-container .box .info {
    position       : absolute;
    top            : 0;
    left           : 0;
    height         : 100%;
    width          : 100%;
    background     : var(--primary-bg-color);
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-wrap      : wrap;
    opacity        : .9;
    transform      : scale(0);
}

.portfolio .image-container .box:hover .info {
    transform: scale(1);
}

.portfolio .image-container .box .info h3 {
    font-size: 2.5rem;
    color    : var(--primary-text-color);
}

.blog .box-container {
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-wrap      : wrap;
}

.blog .box-container .box {
    width        : 33rem;
    border-radius: .5rem;
    box-shadow   : 0 .5rem 1rem rgba(0, 0, 0, .1);
    margin       : 1.5rem;
    background   : var(--primary-bg-color);
    overflow     : hidden;
}

.blog .box-container .box img {
    width     : 100%;
    height    : 20rem;
    object-fit: cover;
}

.blog .box-container .box .content {
    padding: 1.5rem;
}

.blog .box-container .box .content .info {
    border-radius: .5rem;
    box-shadow   : 0 .5rem 1rem rgba(0, 0, 0, .1);
    text-align   : center;
    position     : relative;
    font-size    : 1.5rem;
    color        : var(--primary-text-color);
    background   : var(--secondary-bg-color);
    padding      : 1rem;
    margin-top   : -4rem;
    margin-bottom: 1rem;
}

.blog .box-container .box .content .info i {
    color  : var(--main-color);
    padding: 0 1rem;
}

.blog .box-container .box .content .title {
    color    : var(--primary-text-color);
    display  : block;
    font-size: 2.5rem;
    padding  : .5rem 0;
}

.blog .box-container .box .content .title:hover {
    text-decoration: underline;
    color          : var(--main-color);
}

.blog .box-container .box .content p {
    color    : var(--secondary-text-color);
    padding  : .5rem 0;
    font-size: 1.5rem;
}

.contact .row {
    display        : flex;
    justify-content: center;
    flex-wrap      : wrap;
}

.contact .row form {
    flex         : 1 1 40rem;
    background   : var(--primary-bg-color);
    padding      : 2rem;
    margin       : 1rem;
    box-shadow   : 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
}

.contact .row .map {
    flex         : 1 1 40rem;
    margin       : 1rem;
    box-shadow   : 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    border       : 2rem solid var(--primary-bg-color);
    width        : 100%;
}

.contact .row form .inputBox {
    display        : flex;
    justify-content: space-between;
    flex-wrap      : wrap;
}

.contact .row form input,
.contact .row form textarea {
    padding       : 1rem 0;
    margin        : 1rem 0;
    font-size     : 1.7rem;
    border-bottom : .1rem solid var(--secondary-text-color);
    text-transform: none;
    background    : none;
    color         : var(--main-color);
    width         : 100%;
}

.contact .row form input::placeholder,
.contact .row form textarea::placeholder {
    text-transform: capitalize;
    color         : var(--secondary-text-color);
}

.contact .row form input:focus,
.contact .row form textarea:focus {
    border-color: var(--main-color);
}

.contact .row form .inputBox input {
    width: 49%;
}

.contact .row form textarea {
    height: 15rem;
    resize: none;
}

.contact .row form .btn {
    cursor: pointer;
}

.contact .box-container {
    display        : flex;
    justify-content: space-between;
    flex-wrap      : wrap;
    align-items    : center;
}

.contact .box-container .box {
    flex         : 1 1 30rem;
    margin       : 1rem;
    padding      : 3rem 1rem;
    background   : var(--primary-bg-color);
    box-shadow   : 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    text-align   : center;
}

.contact .box-container .box i {
    height       : 6rem;
    width        : 6rem;
    line-height  : 6rem;
    border-radius: 50%;
    font-size    : 3rem;
    background   : var(--secondary-bg-color);
    color        : var(--main-color);
}

.contact .box-container .box h3 {
    color    : var(--primary-text-color);
    padding  : 1rem 0;
    font-size: 2rem;
}

.contact .box-container .box p {
    font-size: 1.5rem;
    color    : var(--secondary-text-color);
}

.footer {
    padding   : 2.5rem 1rem;
    text-align: center;
    font-size : 2rem;
    color     : var(--primary-text-color);
    background: var(--primary-bg-color);
    margin-top: 1rem;
}

.footer span {
    color: var(--main-color);
}

#theme-toggler {
    position     : fixed;
    top          : 8.5rem;
    right        : 2rem;
    z-index      : 998;
    height       : 5rem;
    width        : 5rem;
    line-height  : 5rem;
    text-align   : center;
    font-size    : 2rem;
    background   : var(--main-color);
    color        : #fff;
    cursor       : pointer;
    border-radius: 5rem;
}

#theme-toggler.fa-sun {
    transform: rotate(-180deg);
}


























/* #menu {
    font-size    : 2rem;
    background   : var(--main-color);
    color        : #fff;
    border-radius: 5rem;
    height       : 5rem;
    width        : 5rem;
    text-align   : center;
    line-height  : 5rem;
    position     : fixed;
    top          : 2rem;
    right        : 2rem;
    z-index      : 1000;
    cursor       : pointer;
}

#menu.fa-times {
    transform: rotate(-180deg);
} */





/* media queries  */

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    section {
        padding: 1rem;
        padding: 0 3%;
    }

}

@media (max-width:768px) {

    .home .image img {
        height: auto;
        width : 100%;
    }

}

@media (max-width:400px) {

    html {
        font-size: 50%;
    }

    .services .box-container .box {
        width: 100%;
    }

    .portfolio .image-container .box {
        width: 100%;
    }

    .blog .box-container .box {
        width: 100%;
    }

    .contact .row form .inputBox input {
        width: 100%;
    }

}